{%extends "includes/basic.html"%}
{%load staticfiles%}
{%block content%}

    <div id="main" class="container center-block" role="main">

    		<div class="row row-centered">
			    <div class="col-md-8 col-centered">

                    <h2>{{ fileName }} : </h2>
                    <div class="computerOutput">
                    {% if image == False %}
                    	{{ content|linebreaks }} 
                    {% else %}
                    	<img src="/filemanager/{{ image }}" height="500" width="500" />
                    {% endif %}
                    </div>

                </div>
            </div>
    </div>

{% endblock %}