{%extends "includes/basic.html"%}
{%load staticfiles%}
{%block content%}

    <div id="main" class="container center-block" role="main">

    		<div class="row row-centered">
			    <div class="col-md-8 col-centered">

                    <h2>{{ fileName }} : </h2>
                    <div class="computerOutput">
                    {% if image == False %}
                        {{ content|linebreaks }}
                    {% elif image == "dendrogram" %}
                        <script type="text/javascript">
                        testing = "{{ content }}";
                        window.onload = function(){
                            phylocanvas = new Smits.PhyloCanvas(
                                "{{ content }}",
                                'dendrogramCanvas', 
                                800, 
                                5000
                            );
                        };
                        </script>
                        <div id="dendrogramCanvas"> </div>
                    {% else %}
                    	<img src="/filemanager/{{ image }}" height="500" width="500" />
                    {% endif %}
                    </div>

                </div>
            </div>
    </div>

{% endblock %}
