{%extends "includes/basic.html"%}
{%load staticfiles%}
{%block content%}

    <div id="main" class="container center-block" role="main" xmlns="http://www.w3.org/1999/html">

    		<div class="row row-centered">
			    <div id = 'uploadFile' class="col-md-8 col-centered">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-target="#uploadColapsed" href="#uploadColapsed" class="collapsed collapse-link">Upload file</a>
                        </div>
                        <div id="uploadColapsed" class="panel-collapse collapse">
                            <div class="panel-body">
                                <form action="{% url "uploadFile_view" %}" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <p>{{ form.non_field_errors }}</p>

                                    <p>{{ form.userfile.label_tag }} {{ form.userfile.help_text }}</p>
                                    <p>
                                        {{ form.userfile.errors }}
                                        {{ form.userfile }}
                                    </p>
                                    <p><input type="submit" value="Upload" /></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div id='createFile' class="col-md-2 col-centered">
                    <button onclick="openCreationPad()" class="btn btn-lg btn-default glyphicon glyphicon-plus-sign"> New</button>
                    <form role="form" action="{% url 'createFile_view' %}" method="POST" id=newFileForm">
                                {% csrf_token %}
                                <input type="text" class="hidden" name="filename" value="">
                    </form>
                </div>
                <div id='createFile' class="col-md-2 col-centered">
                    <a href="/filemanager/console" class="btn btn-lg btn-default glyphicon glyphicon-align-justify "> Console log</a>
                </div>
            </div>
            <div class="row row-centered">
            <table class="table table-striped">
                <thead>
                  <tr>
                      <th class="col-md-7">Filename</th>
                      <th class="col-md-1">Size</th>
                      <th class="center col-md-4">Options<br>( Open | Download | Delete )</th>
                  </tr>
                </thead>
                {% for file in files %}
                    <thead>
                    <tr>
                        <th class="col-md-7">{{ file.filename }} </th>
                        <th class="col-md-1">{{ file.file.size|filesizeformat}} </th>
                        <th class="col-md-4">
                            <div class = "row">
                                <div class="col-md-2 col-md-offset-3">
                                    <form role="form" action="{% url 'fileViewer_view' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="text" class="hidden" name="filename" value="{{ file.file.name }}">
                                        <button type="submit" class="btn btn-md btn-info glyphicon glyphicon-eye-open"></button>
                                    </form>
                                </div>
                                <div class="col-md-2">
                                    <form role="form" action="{% url 'downloadFile_view' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="text" class="hidden" name="filename" value="{{ file.file.name }}">
                                        <button type="submit" class="btn btn-md btn-success glyphicon glyphicon-download"></button>
                                    </form>
                                </div>
                                <div class="col-md-2">
                                    <form role="form" action="{% url 'deleteFile_view' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="text" class="hidden" name="filename" value="{{ file.file.name }}">
                                        <button type="submit" class="btn btn-md btn-danger glyphicon glyphicon-remove"></button>
                                    </form>
                                </div>
                            </div>
                        </th>
                    </tr>
                    </thead>
                {% endfor %}

            </table>
            </div>
        </div>

{% endblock %}