{%extends "includes/basic.html"%}
{%load staticfiles%}
{%block content%}

	<div id="main" class="container center-block" role="main">

		<div class="row row-centered">
                <div class="col-md-3">
                </div>
                    <div  class="col-md-6" id="toolmenu">
                        <div class="row row-centered top-buffer">
                            <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Load frags from server" onclick ="getFilesListFromServer()"><span class="glyphicon glyphicon-floppy-save"></span></button>
                            <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Go back" onclick ="goToPrevZoom()"><span class="glyphicon glyphicon-chevron-left"></span></button>
                            <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Go forward" onclick ="goToNextZoom()"><span class="glyphicon glyphicon-chevron-right"></span></button>
                            <span class="btn btn-primary btn-file glyphicon glyphicon-floppy-disk" data-toggle="tooltip" data-placement="bottom" title="Load frags from local" ><input type="file" multiple="true" onchange="handleFiles(this.files,'csv')" accept=".csv"></span>
                            <span class="btn btn-primary btn-file glyphicon glyphicon-th" data-toggle="tooltip" data-placement="bottom" title="Load Matrix from local" ><input type="file" multiple="false" onchange="handleFiles(this.files,'mat')" accept=".MAT"></span>
                            <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Return to initial view" onclick="resetDraw()"><span class="glyphicon glyphicon-step-backward"></span></button>
                            <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Draw grid" onclick="activateBoard()"><span class="glyphicon glyphicon-screenshot"></span></button>
                            <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="CSB & Frag info" onclick="dialogFrags()"><span class="glyphicon glyphicon-info-sign"></span></button>
                            <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Annotations info" onclick="dialogAnnotations()"><span class="glyphicon glyphicon-font"></span></button>
                            <button type="button" id="executeServiceButton" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Execute Service" onclick="getServicelist()"><span class="glyphicon glyphicon-cog"></span></button>
                            <div class="row top-buffer btn-padding form-group row-centered">
									<form name="option" class="form-centered">
										<input type="radio" name="tipo" value="Frag" checked
											onClick="redraw()"><span class="formType">HSP</span>
										<input type="radio" name="tipo" value="CSB" onClick="redraw()"><span
											class="formType">CSB</span> <input type="radio" name="tipo"
											value="all" onClick="redraw()"><span class="formType">HSP
											& CSB</span>
									</form>
								</div>
                        </div>
                    </div>
                <div class="col-md-3 ">
                    <div class="alert alert-success hidden alert-dismissable" role="alert" id="newFilePopup">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <p> New file avaliable </p>
                    </div>
                </div>
        </div>

        <div class="row row-centered">
            <div class="col-md-3 " id="columnLeft">
                    <!-- ---------- CANVAS Horizontal -------------------- -->
                    <div id="horizontalCanvas" class="canvasBlock">
                        <div id="horizontalCanvasContainer" >
                        </div>
                    </div>


            </div>

			<div class="col-md-6" id="columnCentral">

				<div class="row row-centered">
                    <!-- ---------- CANVAS Vertical -------------------- -->
                    <div id="mainCanvas" class="canvasBlock my-container2">
                        <div id="canvasContainer">
                            <div id="fileName">
                                Upload a fragments file
                                <button id="infoPopover" type="button"
                                    class="btn btn-warning btn-xs btn-padding" data-container="body"
                                    data-toggle="popover" data-placement="right"
                                    data-content="Not file loaded" data-html="true">?</button>
                            </div>

                            <canvas id="myCanvasGrid" class="img-responsive" width="600" height="550"></canvas>
                            <img src="{% static "css/images/loading.gif" %}" id="loading-indicator" style="display:none" />
                            <canvas id="myCanvas" class="img-responsive"  width="500" height="500"></canvas>
                            <canvas id="myCanvasLayer1" class="img-responsive canvasLayer"  width="500" height="500"></canvas>
                            <canvas id="myCanvasLayer2" class="img-responsive canvasLayer"  width="500" height="500"></canvas>
                            <canvas id="selectLayer" class="img-responsive canvasLayer"  width="500" height="500"></canvas>
                        </div>
                        <div id="EEmanag" style="display: none;">
                            <label>Evolutionary Events management</label>
                            <div>
                                <button type="button" class="btn btn-info" onclick="prevEE()">Prev </button>
                                <label id="EEindex">-</label>
                                <button type="button" class="btn btn-info" onclick="nextEE()">Next </button>
                            </div>
                        </div>
                    </div>
				</div>

				<div class="row row-centered">
					<div class="col-md-12 col-centered">
						<div class="canvasBlock div-centered">
						<!-- ---------- CANVAS Matrix -------------------- -->
                            <div id="canvasContainerMatrix" class="div-centered">
                                <ul class="nav nav-tabs nav-justified">
                                  <li class="active"><a data-toggle="tab" href="#distributionMatrix">Distribution Matrix</a></li>
                                  <li><a data-toggle="tab" href="#oldMatrix">General Matrix</a></li>
                                  <li><a data-toggle="tab" href="#optionsMatrix">Options</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="distributionMatrix" class="tab-pane fade in active svg-container">
                                        <div id="fileNameMAT">
                                            Upload a Matrix file
                                            <button id="infoPopoverMatriz" type="button"
                                                class="btn btn-warning btn-xs btn-padding"
                                                data-container="body" data-toggle="popover"
                                                data-placement="right" data-content="Not file loaded"
                                                data-html="true">?</button>
                                        </div>
                                        <svg id="matrixSVG" class="embed-responsive-item" width="500" height="300"></svg>
                                    </div>
                                    <div id="oldMatrix" class="tab-pane fade">
                                        <canvas id="myCanvasMatrix" class="img-responsive" width="500" height="100"> </canvas>
                                    </div>
                                    <div id="optionsMatrix" class="tab-pane fade">
                                        <div class="col-lg-6 col-sm-6 col-centered">
                                            <div class="input-group">
                                              <span class="input-group-addon" id="columnNumber">X</span>
                                              <input type="text" id="xAxisName" class="form-control" placeholder="X Axis name" aria-describedby="xAxisName">
                                            </div>
                                            <div class="input-group">
                                              <span class="input-group-addon" id="rowNumber">Y</span>
                                              <input type="text" id="yAxisName" class="form-control" placeholder="Y Axis name" aria-describedby="yAxisName">
                                            </div>
                                            <button type="button" class="btn btn-default" title="Set" onclick="changeAxisName('','')">Set</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
				</div>

			</div>

            <div class="col-md-3 " id="ColumnRight">
				<div class="row row-centered">
					<div class="col-xs-12 col-sm-12 col-centered">
						<div class="panel panel-primary">
							<div class="panel-heading">
                                <a data-toggle="collapse" data-target="#MapColapsed" href="#MapColapsed" class="collapse-link panel-title accordion-toggle">Map</a>
							</div>
                            <div id="MapColapsed" class="panel-collapse collapse in">
                                <div class="panel-body ">
                                        <div id="canvasMapContainer" class="div-centered row-centered top-buffer">
                                            <canvas id="myMap" width="200" height="200"></canvas>
                                    </div>
                                </div>
                            </div>
						</div>
					</div>
				</div>
				<div class="row row-centered">
					<div class="col-xs-12 col-sm-12 col-centered">
                        <div class="panel panel-primary">
							<div class="panel-heading">
                                <a data-toggle="collapse" data-target="#LayersCollapsed" href="#LayersCollapsed" class="collapse-link panel-title accordion-toggle">Comparisons</a>
							</div>
                            <div id="LayersCollapsed" class="panel-collapse collapse in">
                                <div class="panel-body" id="layersBox">
                                    <table class="table" id="layersTable">

                                    </table>
                                </div>
					        </div>
                        </div>
                    </div>
				</div>
				<div class="row row-centered">
					<div class="col-xs-12 col-sm-12 col-centered">
						<div class="panel panel-primary">
							<div class="panel-heading">
                                <a data-toggle="collapse" data-target="#FiltersColapsed" href="#FiltersColapsed" class="collapse-link panel-title accordion-toggle">Filters</a>
							</div>
                            <div id="FiltersColapsed" class="panel-collapse collapse in">
							<div class="panel-body">
                                <div class="row top-buffer btn-padding">
								    <form name="filters" id="filters">
										<div class="checkbox">
											<label> <input type="checkbox" id="filterIrrelevants"
												value="irrelevants" onClick="redraw()">Statistical
												Significance
											</label>
										</div>
										<div class="checkbox">
											<label> <input type="checkbox" id="filterOverlapped"
												value="overlapped" onClick="redraw()">Overlapped
												(Repetitions)
											</label>
										</div>
										<div class="checkbox">
											<label> <input type="checkbox" id="filterOverlapped2"
												value="overlapped2" onClick="redraw()">Duplications
											</label>
										</div>
										<div class="checkbox">
											<label> <input type="checkbox" id="filterPositives"
												value="positives" onClick="redraw()">Positive blocks
											</label>
										</div>
                                        <div class="input-group group-padding">
											<span class="input-group-addon"> <input
												type="checkbox" id="filterIdentity"
												onClick="redraw()">Identity<br>
											</span> <input type="number" class="form-control"
												id="filterIdentityNumber" value="50">
										</div>
										<div class="input-group group-padding">
											<span class="input-group-addon"> <input
												type="checkbox" id="filterLenght" value="lenght"
												onClick="redraw()">MinLength<br>
											</span> <input type="number" class="form-control"
												id="filterLenghtNumber" value="200">
										</div>
										<div class="input-group group-padding">
											<span class="input-group-addon"> <input
												type="checkbox" id="filterSimilarity" value="similarity"
												onClick="redraw()">MinSimilarity<br>
											</span> <input type="number" class="form-control"
												id="filterSimilarityNumber" value="50" min="0" max="100">
										</div>
                                        <div class="input-group">
                                        <div class="input-group-addon">
                                            <input type="checkbox" id="filterManual" onclick="buttondisabled()">
                                            Manual selection
                                        </div>
									    <button class="ui-button-text" disabled="true" id="filter" onclick="filterSelection()">Filter</button>
                                    </div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
                <div class="row row-centered">
					<div class="col-xs-12 col-sm-12 col-centered">
						<div class="panel panel-primary">
							<div class="panel-heading">
                                <a data-toggle="collapse" data-target="#AnnotColapsed" href="#AnnotColapsed" class="collapse-link panel-title accordion-toggle">Annotations</a>
							</div>
                            <div id="AnnotColapsed" class="panel-collapse collapse in">
							<div class="panel-body">
								<div class="row top-buffer btn-padding">
                                    <div id="Annotations">
                                        <div class="SearchTitleFilterButton">
                                            <span>Search:</span>
                                            <input type="text" placeholder="e.g: DNA polymerase" class="SearchFilter2" onkeypress="if (event.keyCode == 13) document.getElementById('btnSearch').click()" />
                                            <button id= "btnSearch" class="SearchButton" onclick="showResults($('.SearchFilter2').val(),true)"><span class="glyphicon glyphicon-search"></span></button>
                                        </div>
                                    </div>
                                </div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
        </div>
	</div>

    <!--Dialog for CSB & Frag Info -->
    <div id="output" class="ui-helper-hidden"><div class="SearchTitle" >
        <div class="SearchTitleFilterButton">
<span>Filter:</span>
<input type="text" class="SearchFilter" />
<button class="SearchButton" ><span class="glyphicon glyphicon-search"></span></button>
</div>
        </div>
    </div>

    <!--Dialog for Annotations -->
    <div id="annotationsOutput" class="ui-helper-hidden">
        <div class="SearchTitleFilterButton">
            <span>Search:</span>
            <input type="text" class="SearchFilter3" onkeypress="if (event.keyCode == 13) document.getElementById('btnSearch').click()" />
            <button id= "btnSearch" class="SearchButton" onclick="showResults($('.SearchFilter3').val(),true)"><span class="glyphicon glyphicon-search"></span></button>
        </div>
    </div>

    <!-- Popover to show CSB Info in Canvas -->
	<div class="popover right" id="CSBPopover" role="tooltip"></div>

	<script>
		//InfoPopover = File info popover.
		$(function() {
			$("#infoPopover").popover();
		});

		//Erase localStorage when close
		$(window).unload(function() {
			localStorage.clear()
		});

        $(document).ready(function(){
            $('#executeServiceButton').prop('disabled', true);
        });

		//Detect changes on filterLength value
		$("#filterLenghtNumber").change(function() {
			if (document.getElementById("filterLenght").checked) {
				redraw();
			}
		});

		$("#filterSimilarityNumber").change(function() {
			if (document.getElementById("filterLenght").checked) {
				redraw();
			}
		});

        $("#filterIdentityNumber").change(function() {
            if ($('#filterIdentity').prop('checked')){
                var auxValue = $("#filterIdentityNumber").val();
                identityLine.paint(auxValue);
                identityLine.update();
            }
		});

		//Not sending form on ENTER
		$("#filters").submit(function() {
			return false;
		});

		//Detecting keyEvent on form
		$("#filterLenghtNumber").keyup(function(e) {
			if (e.keyCode == 13) {
				redraw();
			}
		});

		$("#filterSimilarityNumber")
				.keyup(
						function(e) {
							if (e.keyCode == 13) {
								if (document
										.getElementById("filterSimilarityNumber").value > 100) {
									document
											.getElementById("filterSimilarityNumber").value = 100;
								} else if (document
										.getElementById("filterSimilarityNumber").value < 0) {
									document
											.getElementById("filterSimilarityNumber").value = 0;
								}
								redraw();
							}
						});
	</script>

{% endblock %}
