						<div class="panel panel-primary">
							<div class="panel-heading">
                                <a data-toggle="collapse" data-target="#FunctionsColapsed" href="#FunctionsColapsed" class="collapse-link panel-title accordion-toggle">Functions</a>
							</div>
                            <div id="FunctionsColapsed" class="panel-collapse collapse in">
                                <div class="panel-body">
								<div class="row row-centered top-buffer">
									<span class="btn btn-primary btn-file"> Load frags <input
										type="file" multiple="true"
										onchange="handleFiles(this.files,'csv')" accept=".csv">
									</span>
									<span class="btn btn-primary btn-file"> Load MAT <input
										type="file" onchange="handleFiles(this.files,'mat')"
										accept=".MAT">
									</span>
								</div>
                                <div class="row row-centered top-buffer">
									<span class="btn btn-primary btn-file">Load Mauve<input type="file" multiple="true" onchange="handleFiles(this.files,'mvn')" accept=".txt"></span>
								</div>
                                    <div class="row row-centered top-buffer">
									<button type="button" class="btn btn-primary" onclick ="getFilesListFromServer()">Load from Server</button>
								</div>
								<div class="row row-centered top-buffer">

								</div>
								<div class="row row-centered top-buffer">
									<div class="btn-group btn-group-justified btn-padding">
										<div class="btn-group">
											<button type="button" class="btn btn-default"
												onclick="resetDraw()">Initial View</button>
										</div>
										<div class="btn-group">
											<button type="button" class="btn btn-default"
												onclick="activateBoard()">Grid</button>
										</div>
									</div>
								</div>
								<div class="row row-centered top-buffer btn-group">
									<div class="btn-group btn-group-justified btn-padding">
										<div class="btn-group">
											<!--<button type ="button" class="btn btn-default" onclick="showDivInfoInPopup('output', 'popuptable.html', 'PopupTable')">CSB & Frag info</button> -->
											<!--<button class="btn btn-default" data-toggle="modal" data-target="#infoModal" data-backdrop="false">CSB & Frag info</button>-->
											<button type="button" class="btn btn-default" onclick="dialogFrags()">CSB
												& Frag info</button>

										</div>
										<div class="btn-group">
											<!--<button type ="button" class="btn btn-default" onclick="showDivInfoInPopup('annotationsOutput', 'annotationstable.html', 'Annotations Table')">Annotations</button>-->
											<button class="btn btn-default" onclick="dialogAnnotations()">Annotations</button>
										</div>
									</div>
								</div>

								<div class="row top-buffer btn-padding form-group row-centered">
									<form name="option" class="form-centered">
										<input type="radio" name="tipo" value="Frag" checked
											onClick="redraw()"><span class="formType">HSP</span>
										<input type="radio" name="tipo" value="CSB" onClick="redraw()"><span
											class="formType">CSB</span> <input type="radio" name="tipo"
											value="all" onClick="redraw()"><span class="formType">HSP
											& CSB</span>
									</form>
								</div>

							</div>
                            </div>
						</div>