{%load staticfiles%}

<form id="serviceFormModal" action="{% url 'executeServiceInBackground' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="serviceName" class="hidden" value="{{ name }}" />
    <input type="text" name="exeName" class="hidden" value= "{{ exeName }}" />

    {% csrf_token %}
    {{ form.as_p }}

    <div class="control-group">
        <label class="control-label" for="submit"></label>
        <div class="controls" style="float:right">
            <button type="submit" id="submit" name="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>

</form>

<script type="text/javascript" src="{% static "js/mainFunctions.js" %}"></script>